@use 'variables' as *;

html {
    background-color: $grey;
}

body {
    color: $white;
}

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

footer {

    display: flex;
    flex-direction: row;
    background-color: $blue;
    

}

footer p {
    display: flex;
    justify-content: space-evenly;

    a {
        display: inline-block;
        color:$white;
        text-decoration: underline;
    }
}