@use 'variables' as *;

html {
    background-color: $grey;
}

body {
    color: $white;
}

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: $blue;
    padding: 0.5rem 0;

}

footer p {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footerLinkContainer {
    display: flex;
    justify-content: center;

    p {
        display: flex;
        margin: 0;
        width: auto;
    }

    a {
        display: flex;
        color:$white;
        text-decoration: underline;
        width: auto;
        padding-left: 1rem;
    }

}