@use 'variables' as *;

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

a {
    align-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

li {
    display: flex;
    transition: .4s;
    padding: 2.5%;
    width: 40%;
    list-style: none;
    flex-direction: column;

    &:hover,
    &:focus {
        background-color: $blue;
    }
}

a p {
    position: absolute;
    top: 40%;
    //transparent color to show unhindered image unless hover/focused
    color: transparent;
    display: flex;
    transition: color 0.4s;
    font-size: 1.5rem;
    width: 90%;
}

.text {
    display: flex;
    overflow: hidden;
}

img {
    display: flex;
    align-items: center;
    transition: 0.4s;
    width: 100%;

    &:hover,
    &:focus {
        filter: brightness(30%);
    }
    
    &:hover ~ p,
    &:focus ~ p {
        color: $white;
    } 
}