@use 'variables' as *;
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

a {
    align-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

li {
    transition: .4s;
    display: flex;
    padding: 2.5%;
    margin: 5% 0;
    
    max-width: 40%;
    list-style: none;
    flex-direction: column;

    &:hover,
    &:focus {
        background-color: $blue;
    }
}

a p {
    position: absolute;
    top: 40%;
    color: $white;
    display: none;
    transition: 0.4s;
}

.text {
    display: flex;
    overflow: hidden;
    
}

img {
    display: flex;
    align-items: center;
    transition: 0.4s;

    &:hover,
    &:focus {
        filter: brightness(40%);
    }
    &:hover ~ p,
    &:focus ~ p {
        display: flex;
    } 
}

p {
    // margin: 0;
}