html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 125%;
}

body {
  font-family: "Comic Neue", sans-serif;
}

h1 {
  font-family: "Bangers", sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #fff867;
  margin: 5% 0;
}

a {
  text-decoration: none;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  height: 2rem;
  margin-top: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h3:hover, h3:focus {
  text-overflow: inherit;
  overflow: visible;
  white-space: normal;
}
h3:hover ~ h4 {
  visibility: hidden;
}

h4 {
  color: #fff867;
  margin-top: 0;
}

html {
  background-color: #5a5b6d;
}

body {
  color: #ffffff;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2c52b3;
}

footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer p a {
  display: inline-block;
  color: #ffffff;
  text-decoration: underline;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: solid 1px #ffffff;
  padding-bottom: 1rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Comic Neue", sans-serif;
  margin: 1rem;
}

option {
  font-family: "Comic Neue", sans-serif;
  background-color: #2c52b3;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Comic Neue", sans-serif;
  background-color: #2c52b3;
}

label {
  font-size: 2rem;
}

select {
  padding: 0 1.5rem;
  margin: 0 1rem;
  border: none;
  color: white;
  border-bottom: 1px solid #5a5b6d;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}
select:hover, select:focus {
  border-bottom: 1px solid #fff867;
}

button {
  color: #ffffff;
  border: none;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
  margin-left: 0.5rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid #2c52b3;
}
button:hover, button:focus {
  border-bottom: 1px solid #fff867;
}

.selection {
  background-color: #5a5b6d;
  font-family: "Comic Neue", sans-serif;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

a {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 2.5%;
  width: 40%;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
li:hover, li:focus {
  background-color: #2c52b3;
}

a p {
  position: absolute;
  top: 40%;
  display: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  font-size: 1.5rem;
  width: 90%;
  color: #ffffff;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}
img:hover, img:focus {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}
img:hover ~ p, img:focus ~ p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}